<div class="container">
    <div class="row">
        <div class="section">
            <form>
                <div class="input-field">
                    <label for="searchField">Search</label>
                    <input type="text" id="searchField" required ng-model="search.movieSearch">
                </div>
                <button class="btn" ng-click="search.searchMovie()">Search</button>
            </form>
        </div>
    </div>
    <!-- search results -->
    <div class="row">
        <div class="section">
            <div ng-repeat="item in search.searchResults.Search" class="card horizontal animated zoomIn col m-3 s-6 xs-6">
                <div class="card-image">
                    <img src="{{item.Poster}}" class="poster-height">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <h4 class="card-titles">{{item.Title}} <small>({{item.Year}})</small></h4>
                        <a ui-sref="details({id: item.imdbID})"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
