body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: linear-gradient(-90deg, rgba(120,2,6, .9), rgba(6,17,97, .9)),
    url('../img/grid.png'); 
}

main {
    flex: 1 0 auto;
}

h1 {
    font-family: 'Pacifico', cursive;
    color: #fff;
    font-size: 4em;
    text-align: left;
    padding-left: 5%;
    text-shadow: 1px 2px 3px #000;
}

.input-field input[type=text]:focus {
    border-bottom: 1px solid #cc0000;
    box-shadow: 0 1px 0 0 #cc0000;
}


button.btn:hover {
   background: #b70000; 
}

button.clearBtn {
    background: #777;
}

button.clearBtn:hover {
    background: #666;
}

img.movieDetailsPoster {
    float: left;
    margin-right: 25px;
}
.detailsPage{
    background-color: #fff;
    width: 100%;
}
 

.card{
	height: 250px;
	width: 300px;
/*    margin-left: 20%;
*/    /*margin: 20px 5px;*/
}

.poster-height{
	min-height: 250px;

}

.card-titles{
	font-size: 1.25em;
}

.footer, .push {
    font-size: 1em;
    clear: both;
    text-align: center;
    background-color: rgba(0, 0, 0, .7);
    height: 84px;
}
.search-btn {
    background: linear-gradient(-90deg, #FF8C19, rgba(6,17,97, .9))
}

