body {
    font-family: "Droid Sans", sans-serif;

}

header {
    padding: 15px 0;
    text-align: center;
    background: #cc0000;
}

header h1 {
    font-weight: bolder;
    font-size: 5em;
}

.input-field input[type=text]:focus {
    border-bottom: 1px solid #cc0000;
    box-shadow: 0 1px 0 0 #cc0000;
}

button.btn {
    background: #cc0000;
    color: black;
    font-weight: bold;
}

button.btn:hover {
   background: #b70000; 
}

button.clearBtn {
    background: #777;
}

button.clearBtn:hover {
    background: #666;
}

img.movieDetailsPoster {
    float: left;
    margin-right: 25px;
}




.card{
	height: 250px;
	width: 300px;
/*    margin-left: 20%;
*/    /*margin: 20px 5px;*/
}

.poster-height{
	min-height: 250px;

}

.card-titles{
	font-size: 1.25em;
}

.footer, .push {
    font-size: 1em;
    clear: both;
    text-align: center;
    background-color: rgba(0, 0, 0, .7);
    height: 84px;
}

.wrapper{
    min-height: calc(100vh-84px);
    margin: 25px auto 10px;
    padding: 0 10px 0px;
}

.clearfix:after { 
  content: "."; 
  visibility: hidden; 
  display: block; 
  height: 0; 
  clear: both;
}

